.maptile {
	width: 30px;
	height: 30px;	
}

#map {
	border-collapse: collapse;
	border-spacing: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.popup {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

#stats {
	position: absolute;
	left: 800px;
	top: 10px;
}

#time {
	position: absolute;
	left: 800px;
	top: 600px;
}

#notes {
	width: 300px;
	height: 90px;
	resize: none;
	position: absolute;
	left: 800px;
	top: 500px;
}

#targetTable {
	position: absolute;
	left: 800px;
	top: 400px;
}

#targetText {
	max-width: 200px;
	width: 200px; 
	word-wrap: break-word;
}

#actions {
	border: 1px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.actionTile {
	width: 60px;
	height: 60px;
}

#actionContainer {
	height: 300px;
	width: 280px;
	overflow: auto;
	position: absolute;
	left: 800px;
	top: 120px;
}



